<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>frontPage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <table>
                <tr>
                    <td>ALM Image</td>
                    <td><input type="button" name="Explore" value="explore"></td>
                    <td><input type="button" name="Help" value="help"></td>
                    <td><input type="text" value="Search"/></td>
                    <td><input type="button" name="Login" value="login"></td>
                </tr>
            </table>
        </div>
        </br>
        <div>
            <table border="1">
                <tr>
                    <td rowspan="7"> ALM this that</td>
                </tr>
                <tr>
                    <td>
                        Create your account
                    </td>
                </tr>
                <tr>
                    <td><input type="text" value="First Name"></td>
                </tr>
                <tr>
                    <td><input type="text" value="Last Name"></td>
                </tr>
                <tr>
                    <td><input type="text" value="User Name"></td>
                </tr>
                <tr>
                    <td><input type="password" value="Password"></td>
                </tr>
                <tr>
                    <td><input type="button" value="Signup"></td>
                </tr>
            </table>
        </div>
        <div>
            <table border="1">
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </table>
        </div>
        <div>
            Explore Tools
        </div>
        <div>
            <table border="1">
                <tr>
                    <td>Maven Image</td>
                    <td>Grunt Image</td>
                    <td>Jenkins Image</td>
                    <td>Sonar Image</td>
                    <td>Phig</td>
                </tr>
            </table>
        </div>
    </body>
</html>
