
<!--This page starts from div because it is going to inject in the ng-view of index.html --> 
<div>

        <div>
            <table border="1">
                <tr>
                    <td rowspan="8"> This Column is inientionally left blank for future design</td>
                </tr>
                <tr>
                    <td>
                        Create your account
                    </td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="First Name" name="firstName" ng-model="user.firstName"></td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Last Name" name="lastName" ng-model="user.lastName"></td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Email" name="emailId" ng-model="user.emailId"></td>
                </tr>
                
                <tr>
                    <td><input type="text" placeholder="User Name" name="userName" ng-model="user.userName"></td>
                </tr>
                <tr>
                    <td><input type="password" placeholder="Password" name="password" ng-model="user.password"></td>
                </tr>
                <tr>
                    <td><input type="button" value="Signup" ng-click="signUp()"> {{registerStatus}}</td>
					<td>{{registerStatus}}</td>
                </tr>
            </table>
        </div>

        <div>
            <table border="1">
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </table>
        </div>
        <div>
            Explore Tools
        </div>
        <div>
            <table border="1">
                <tr>
                    <td>Maven Image</td>
                    <td>Grunt Image</td>
                    <td>Jenkins Image</td>
                    <td>Sonar Image</td>
                    <td>Phig</td>
                </tr>
            </table>
        </div>
    </div>