
        <div ng-controller="homeCtrl">
            
            <table> 
                
                    <tr ng-repeat="pd in projectDetails"> 
                        
                        <td>{{pd.projectID}}</td>
                        <td>{{pd.vicePresident}}</td>
                        <td>{{pd.deliveryHead}}</td>
                        <td>{{pd.deliveryManager}}</td>
                        <td>{{pd.seniorProjectManager}}</td>
                        <td>{{pd.projectManager}}</td>
                        <td>{{pd.language}}</td>
                        <td>{{pd.dataBase}}</td>
                        <td>{{pd.cIServer}}</td>
                        
                    </tr>
                    </tbody>
            </table>            
        </div>

